<p class="thread-block">
    <div class="row border border m-0">
        <div class="col-1 bg-light p-2 text-center font-weight-bold">
            +0
        </div>
        <div class="col-11  bg-white p-2">
            <p class="thread-header">
                Par <b><a href="{{ path('profile_home', { 'pseudo': thread.author.pseudo }) }}">{{ thread.author.pseudo }}</a></b> le {{ thread.getPublicationDate|date('d/m/Y') }}
            </p>

            <p class="thread-title border-bottom">
                {{ thread.title }}
            </p>

            <div class="thread-content">
                {{ thread.content|raw }}
            </div>
        </div>
    </div>
</p>