{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 m-md-auto login d-flex">
            <div class="m-auto w-100">
                <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
                <form method="post" class="bg-white p-3 rounded">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <label for="inputEmail">Adresse mail</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="checkbox mt-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>

                    <button class="btn btn-lg btn-success mt-3 w-100 p-0" type="submit">
                        Valider
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
