<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <!-- Personal CSS -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}

    {% block fonts %}
        <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    {% endblock %}

    <script src="https://kit.fontawesome.com/90f7a70ed3.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" href="{{ asset('img/logo.png') }}" />

    <title>{% block title %}Thread Stories{% endblock %}</title>
</head>
<body>
    <div id="toTopBtn">
        <img src="{{ asset('img/totop.png') }}" alt="To top" title="Remonter">
    </div>

    {% block navbar %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top border-bottom">
            <a class="navbar-brand" href="{{ path('home_show') }}"><img class="logo" src="{{ asset('img/logo.png') }}" alt="logo" title="Thread Stories"> Thread Stories</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li>

                    </li>
                    {# <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li> #}

                </ul>
                <ul class="navbar-nav">
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-alt"></i></a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-outline-thread" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-thread" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                    {% endif %}
                </ul>
                {# <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> #}
            </div>
        </nav>
    {% endblock %}

    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-md-8 m-md-auto">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 20) {
                        $('#toTopBtn').fadeIn();
                    }
                    else {
                        $('#toTopBtn').fadeOut();
                    }
                });

                $('#toTopBtn').click(function () {
                    $("html, body").animate({
                        scrollTop: 0
                    }, 1000);
                    return false;
                });
            });
        </script>
    {% endblock %}
</body>
</html>
