{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="all-thread">
                {% if threads|length > 0 %}
                    {% for thread in threads %}
                        {% include 'thread/thread_block.html.twig' with {'thread': thread} %}
                    {% endfor %}
                {% else %}
                    <div class="bg-white rounded mt-3 p-3">
                        Aucun Thread.
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="bg-white rounded">
                <div class="banner-block profile-head" {% if user.banner and user.banner.getBannerName %}style="background: url('{{ vich_uploader_asset(user.banner, 'banner_file') }}'); background-size: cover; background-position: top center;"{% endif %}>
                    <div class="m-auto">
                        {% if user.avatar and user.avatar.getAvatarName %}
                            <img src="{{ vich_uploader_asset(user.avatar, 'avatar_file') }}" alt="Avatar">
                        {% else %}
                            <img src="{{ asset('img/basic_avatar.png') }}" alt="Avatar">
                        {% endif %}
                    </div>
                </div>

                <p class="p-3">
                    {% if user == app.user %}
                        <a href="{{ path('settings') }}" alt="Paramètres"><span class="float-right settings-button"><i class="fas fa-cog"></i></span></a>
                    {% endif %}
                    <b>{{ user.pseudo }}</b><br>
                    Depuis le {{ user.subscription|date('d/m/Y') }}
                </p>

                {% if user != app.user %}
                    <p class="p-3">
                        <a href="#" alt="Suivre" class="btn btn-thread w-100">Suivre</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}